In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 252 kB in 2s (110 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-06-25 17:36:45--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.1’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.1s

2022-06-25 17:36:46 (6.43 MB/s) - ‘postgresql-42.2.16.jar.1’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("prediction").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [4]:
# Import relevant libraries

from google.colab.patches import cv2_imshow
from google.colab.patches import cv2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
from tensorflow.keras.models import load_model
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
import base64
from imageio import imread
import io
from PIL import Image


import tensorflow
from tensorflow.keras.utils import to_categorical

from sqlalchemy import create_engine

# Import dependencies to create a Convolutional Neural Networks (CNN) model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten, Conv2D, MaxPool2D, Dropout , BatchNormalization
from tensorflow.keras.optimizers import SGD, Adam
from tensorflow.keras.callbacks import ReduceLROnPlateau, EarlyStopping

In [5]:
# Mount google drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
# Read the training data from either CSV file Database based on a parameter value training_data_source , for CSV value is set to string "CSV" , from DATABASE value is set to "DATABASE"
training_data_source = "DATABASE"
if training_data_source == "CSV":
    training_data_file_Path = "/content/drive/MyDrive/Model_Generator_Input/"
    training_data_input_file = "A_Z Handwritten Data.csv"
    file_to_process = training_data_file_Path + training_data_input_file
    input_data = pd.read_csv(file_to_process , header = None)
elif training_data_source == "DATABASE":
    db_string = f"postgresql://root:Open4039!@finalpostgresdb.cxwdymdhaxq6.us-east-1.rds.amazonaws.com:5432/my_final_project"
    engine = create_engine(db_string)
    input_data = pd.read_sql_table( 'a_z_handwritten_data' , con = engine)
else:
    print("no trainging datasource is set")
input_data.columns = [str(i) for i in range(len(input_data.columns)) ]

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [7]:
# Transfer training input data to a different dataframe , this is to be used in a possible extension if we decide to merge multiple training datasources.

model_generation_df = input_data
model_generation_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
count,372451.000000,372451.0,372451.0,372451.0,372451.0,372451.0,372451.0,372451.0,372451.0,372451.0,...,372451.000000,372451.000000,372451.000000,372451.000000,372451.000000,372451.000000,372451.000000,372451.000000,372451.000000,372451.000000
mean,13.523454,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.001616,0.001592,0.001117,0.000929,0.000685,0.000596,0.000618,0.000690,0.000239,0.000011
std,6.740852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.490788,0.517297,0.421332,0.419179,0.385566,0.319820,0.208941,0.335227,0.134852,0.006554
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,14.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,18.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,25.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,252.000000,226.000000,229.000000,228.000000,235.000000,194.000000,103.000000,198.000000,82.000000,4.000000

In [8]:
# split the data into X and y
# X will contain a character image and y will contain a label of that image

X = model_generation_df.drop("0", axis= 1)
y = model_generation_df["0"]

In [9]:
# Perform train_test_split on X and y, to get training (x_train, y_train) and testing (x_test, y_test) data.

x_train, x_test, y_train, y_test = train_test_split(X,y,test_size = .2,random_state=42)

In [10]:
# Reshape the training and testing image data using numpy to display it inthe form of image.
# Context: In the csv file images are present in 784 columns of pixel data We need to convert them to 28 x 28 pixels.

x_train = np.reshape(x_train.values, (x_train.shape[0], 28, 28))
x_test = np.reshape(x_test.values, (x_test.shape[0], 28, 28))

print("Training data shape:", x_train.shape)
print("Testing data shape: ", x_test.shape)

Training data shape: (297960, 28, 28)
Testing data shape:  (74491, 28, 28)

In [11]:
# shuffle the training data so that we can see training on shuffled characters

shuffled_data = shuffle(x_train)

In [12]:
# Reshape data to train the model
x_train = x_train.reshape(x_train.shape[0],x_train.shape[1],x_train.shape[2],1)
x_test = x_test.reshape(x_test.shape[0], x_test.shape[1], x_test.shape[2],1)
print("New shape of training data: ", x_train.shape)
print("New shape of testing data: ", x_test.shape)

New shape of training data:  (297960, 28, 28, 1)
New shape of testing data:  (74491, 28, 28, 1)

In [13]:
# convert float values to categorical values

y_training = to_categorical(y_train, num_classes = 26,dtype='int')
y_testing = to_categorical(y_test,num_classes = 26, dtype='int')

print("New shape of training data: ", y_train.shape)
print("New shape of testing data: ", y_test.shape)

New shape of training data:  (297960,)
New shape of testing data:  (74491,)

In [14]:
model = Sequential()
 
model.add(Conv2D(128 , (5, 5), activation='relu', input_shape=(28,28,1)))
model.add(MaxPool2D(1 ,1))

 
model.add(Conv2D(128, (5, 5), activation='relu'))
model.add(MaxPool2D(1, 1))
model.add(BatchNormalization())
 
 
model.add(Conv2D(128, (5,5), activation='relu'))
model.add(MaxPool2D(1,1))
model.add(BatchNormalization())
 

model.add(Conv2D(128, (5, 5), activation='relu'))
model.add(MaxPool2D(1,1))
model.add(BatchNormalization())
 
model.add(Conv2D(128, (5, 5), activation='relu'))
model.add(MaxPool2D(1,1))
model.add(BatchNormalization())
 
model.add(Conv2D(128, (5, 5), activation='relu'))
model.add(MaxPool2D(1,1))
model.add(BatchNormalization()) 
model.add(Flatten())

model.add(Dense(64,activation ="relu"))
model.add(Dense(64,activation ="relu"))
model.add(Dense(64,activation ="relu"))
model.add(Dense(64,activation ="relu"))
model.add(Dense(64,activation ="relu"))
model.add(Dense(26,activation ="softmax"))

In [15]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 24, 24, 128)       3328

 max_pooling2d (MaxPooling2D  (None, 24, 24, 128)      0
 )

 conv2d_1 (Conv2D)           (None, 20, 20, 128)       409728

 max_pooling2d_1 (MaxPooling  (None, 20, 20, 128)      0
 2D)

 batch_normalization (BatchN  (None, 20, 20, 128)      512
 ormalization)

 conv2d_2 (Conv2D)           (None, 16, 16, 128)       409728

 max_pooling2d_2 (MaxPooling  (None, 16, 16, 128)      0
 2D)

 batch_normalization_1 (Batc  (None, 16, 16, 128)      512
 hNormalization)

 conv2d_3 (Conv2D)           (None, 12, 12, 128)       409728

 max_pooling2d_3 (MaxPooling  (None, 12, 12, 128)      0
 2D)

 batch_normalization_2 (Batc  (None, 12, 12, 128)      512
 hNormalization)

 conv2d_4 (Conv2D)           (None, 8, 8, 128)         409728

 max_pooling2d_4 (MaxPooling  (None, 8, 8, 128)        0
 2D)

 batch_normalization_3 (Batc  (None, 8, 8, 128)        512
 hNormalization)

 conv2d_5 (Conv2D)           (None, 4, 4, 128)         409728

 max_pooling2d_5 (MaxPooling  (None, 4, 4, 128)        0
 2D)

 batch_normalization_4 (Batc  (None, 4, 4, 128)        512
 hNormalization)

 flatten (Flatten)           (None, 2048)              0

 dense (Dense)               (None, 64)                131136

 dense_1 (Dense)             (None, 64)                4160

 dense_2 (Dense)             (None, 64)                4160

 dense_3 (Dense)             (None, 64)                4160

 dense_4 (Dense)             (None, 64)                4160

 dense_5 (Dense)             (None, 26)                1690

=================================================================
Total params: 2,203,994
Trainable params: 2,202,714
Non-trainable params: 1,280
_________________________________________________________________

In [16]:
# Compile and fit the model

model.compile(optimizer = Adam(learning_rate=0.001), loss='categorical_crossentropy', metrics=['accuracy'])

history = model.fit(x_train, y_training, epochs=5,  validation_data = (x_test,y_testing))

Epoch 1/5
9312/9312 [==============================] - 123s 13ms/step - loss: 0.1793 - accuracy: 0.9518 - val_loss: 0.0902 - val_accuracy: 0.9776
Epoch 2/5
9312/9312 [==============================] - 119s 13ms/step - loss: 0.0811 - accuracy: 0.9802 - val_loss: 0.0624 - val_accuracy: 0.9850
Epoch 3/5
9312/9312 [==============================] - 119s 13ms/step - loss: 0.0654 - accuracy: 0.9843 - val_loss: 0.0627 - val_accuracy: 0.9837
Epoch 4/5
9312/9312 [==============================] - 119s 13ms/step - loss: 0.0568 - accuracy: 0.9862 - val_loss: 0.0515 - val_accuracy: 0.9872
Epoch 5/5
9312/9312 [==============================] - 119s 13ms/step - loss: 0.0499 - accuracy: 0.9880 - val_loss: 0.0440 - val_accuracy: 0.9895

In [17]:
model_data_file_Path = "/content/drive/MyDrive/Generated_Models/"
model_data_to_save_file = "character_recog_model_revision_01.h5"
model_to_save = model_data_file_Path + model_data_to_save_file

In [18]:
# save the model
model.save(model_to_save)

print("Model saved to : ",model_to_save)

Model saved to :  /content/drive/MyDrive/Generated_Models/character_recog_model_revision_01.h5